# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

srv_go
bld.bash
tst.bash
upl.bash
deploy.bash
c.out
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)

.vscode/
.vscode

.DS_Store

bin/
server/
client/
grpc.adoc
grpc01.adoc

